/* Diseño general */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    color: #333;
}

/* Encabezado */
header {
    background: linear-gradient(90deg, #67B26F, #4ca2cd);
    padding: 20px;
    text-align: center;
    color: white;
}

/* Navegación */
nav ul {
    list-style: none;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #67B26F;
}

/* Contenido principal */
main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Tipografía */
h2 {
    border-bottom: 3px solid #4ca2cd;
    padding-bottom: 5px;
    color: #333;
}

h3 {
    color: #67B26F;
    font-size: 1.4em;
    margin-bottom: 10px;
    border-left: 4px solid #67B26F;
    padding-left: 10px;
}

h4 {
    color: #4ca2cd;
    font-size: 1.2em;
}

/* Listas */
ol, ul {
    padding-left: 20px;
}



article {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsividad */
@media (min-width: 768px) {
    #inspiracion {
        max-width: 800px;
        margin: auto;
    }
    #ideacion {
        max-width: 800px;
        margin: auto;
    }
    #header {
        max-width: 800px;
        margin: auto;
    }


}

/* Equipo */
.miembro {
    text-align: center;
    margin-top: 20px;
}

.miembro img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

/* Galería de fotos */
.fotos img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: auto;
}

.fotosHistorias {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.fotosHistorias img {
    width: 120px;
    height: 120px;
    border-radius: 10%;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Mapa */
.mapa img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.foto-lluvia img {
    max-width: 300px;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px; 

}

.storyboard-img img {
    max-width: 350px;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
}